.grid-time-picker {
  border: 1px solid #ddd;
  width: 90px;
  border-radius: 3px;
  padding: 2px;

  .title {
    font-size: 10pt;
    border-bottom: 1px solid #ddd;
    padding: 2px 0;
    margin-bottom: 5px;
  }

  .middle {
    display: flex;

    input {
      width: 25px;
      text-align: center;
      border: none;
      outline: none;
    }
  }

  .grid-time-picker-arrows {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: #fafafa;
    margin: 0 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    &:hover {
      background-color: #EDEDED;
    }
  }
}
